# Ignora as pastas de compilação locais (Obrigatório!)
bin/
obj/

# Ignora configurações de IDEs
.vs/
.vscode/
.idea/

# Ignora arquivos de log e temporários
*.log
*.tmp
.dockerignore
Dockerfile
README.md

# Ignora arquivos do Git
.git/
.gitignore

# Ignora arquivos de publicação locais
publish/
